* {
    font-family: sans-serif;
    box-sizing: border-box;
}

#btnAddBook {
    display: grid;
    border: none;
    background-color: lightgray;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 100px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: minmax(382px, auto);
    gap: 25px;
    justify-items: center;
    align-items: center;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: 5px;
    color: #fefae0;
    width: 250px;
    height: 350px;
    border-radius: 32px;
    padding: 32px;
    margin: 24px;
    text-align: left;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 32px;
}

.author {
    font-size: 18px;
    margin-bottom: 16px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnRead, .btnX {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: flex-end;
    border: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    font-weight: 1000;
    font-size: 16px;
}

.btnRead {
    background-color: rgb(30, 170, 30);
    content: url(icons/book-outline.svg);
}

.btnX {
    background-color: #DB5461;
    content: url(icons/close.svg);
}

#my-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}